@import "tailwindcss";

@theme {
  /* FONTS */
  --font-antonio: "Antonio", ui-sans-serif, system-ui, sans-serif;
  --font-spartan: "Spartan", ui-sans-serif, system-ui, sans-serif;

  /* TEXT PRESETS */
  /* H1 */
  --text-h1: 5rem; /* 80px */
  --text-h1--line-height: 1.2875; /* 103px / 80px ≈ 1.2875 */
  --text-h1--font-weight: 500; /* Medium */
  --text-h1--letter-spacing: 0px;
  --text-h1--font-family: var(--font-antonio);

  /* H2 */
  --text-h2: 2.5rem; /* 40px */
  --text-h2--line-height: 1.3; /* 52px / 40px = 1.3 */
  --text-h2--font-weight: 500; /* Medium */
  --text-h2--letter-spacing: -1.5px;
  --text-h2--font-family: var(--font-antonio);

  /* H3 */
  --text-h3: 0.75rem; /* 12px */
  --text-h3--line-height: 2.083; /* 25px / 12px ≈ 2.083 */
  --text-h3--font-weight: 700; /* Bold */
  --text-h3--letter-spacing: 2.6px;
  --text-h3--font-family: var(--font-spartan);

  /* H4 */
  --text-h4: 0.6875rem; /* 11px */
  --text-h4--line-height: 2.273; /* 25px / 11px ≈ 2.273 */
  --text-h4--font-weight: 700; /* Bold */
  --text-h4--letter-spacing: 1px;
  --text-h4--font-family: var(--font-spartan);

  /* Body */
  --text-body: 0.875rem; /* 14px */
  --text-body--line-height: 1.786; /* 25px / 14px ≈ 1.786 */
  --text-body--font-weight: 400; /* Regular */
  --text-body--letter-spacing: 0px;
  --text-body--font-family: var(--font-spartan);

  /* COLORS */
  --color-white: oklch(100% 0 0);
  --color-dark-blue: oklch(14% 0.025 264);
  --color-dark-grey: oklch(25% 0.012 264);
  --color-light-grey: oklch(56% 0.008 264);

  --color-teal: oklch(68% 0.085 205);
  --color-yellow: oklch(77% 0.12 65);
  --color-purple: oklch(52% 0.22 293);
  --color-red: oklch(61% 0.19 25);

  --color-light-red: oklch(64% 0.16 18);
  --color-orange: oklch(65% 0.15 45);
  --color-cyan: oklch(73% 0.11 181);
  --color-blue: oklch(63% 0.18 250);
}

@utility text-h1 {
  font-family: var(--text-h1--font-family);
  font-size: var(--text-h1);
  line-height: var(--text-h1--line-height);
  font-weight: var(--text-h1--font-weight);
  letter-spacing: var(--text-h1--letter-spacing);
}

@utility text-h2 {
  font-family: var(--text-h2--font-family);
  font-size: var(--text-h2);
  line-height: var(--text-h2--line-height);
  font-weight: var(--text-h2--font-weight);
  letter-spacing: var(--text-h2--letter-spacing);
}

@utility text-h3 {
  font-family: var(--text-h3--font-family);
  font-size: var(--text-h3);
  line-height: var(--text-h3--line-height);
  font-weight: var(--text-h3--font-weight);
  letter-spacing: var(--text-h3--letter-spacing);
  text-transform: uppercase;
}

@utility text-h4 {
  font-family: var(--text-h4--font-family);
  font-size: var(--text-h4);
  line-height: var(--text-h4--line-height);
  font-weight: var(--text-h4--font-weight);
  letter-spacing: var(--text-h4--letter-spacing);
  text-transform: uppercase;
}

@utility text-body {
  font-family: var(--text-body--font-family);
  font-size: var(--text-body);
  line-height: var(--text-body--line-height);
  font-weight: var(--text-body--font-weight);
  letter-spacing: var(--text-body--letter-spacing);
}
