@import "tailwindcss";

@theme {
  /* FONTS */
  --font-antonio: "Antonio", ui-sans-serif, system-ui, sans-serif;
  --font-spartan: "Spartan", ui-sans-serif, system-ui, sans-serif;

  /* TEXT PRESETS */
  /* Preset 1 */
  --text-preset-1: 5rem; /* 80px */
  --text-preset-1--line-height: 1.2875; /* 103px / 80px ≈ 1.2875 */
  --text-preset-1--font-weight: 500; /* Medium */
  --text-preset-1--letter-spacing: normal;
  --text-preset-1--font-family: var(--font-antonio);

  /* Preset 2 */
  --text-preset-2: 3rem; /* 48px */
  --text-preset-2--line-height: normal;
  --text-preset-2--font-weight: 500; /* Medium */
  --text-preset-2--letter-spacing: normal;
  --text-preset-2--font-family: var(--font-antonio);

  /* Preset 3 */
  --text-preset-3: 2.5rem; /* 40px */
  --text-preset-3--line-height: 1.3; /* 52px / 40px = 1.3 */
  --text-preset-3--font-weight: 500; /* Medium */
  --text-preset-3--letter-spacing: -1.5px;
  --text-preset-3--font-family: var(--font-antonio);

  /* Preset 4 */
  --text-preset-4: 1.75rem; /* 28px */
  --text-preset-4--line-height: normal;
  --text-preset-4--font-weight: 500; /* Medium */
  --text-preset-4--letter-spacing: -1.05px;
  --text-preset-4--font-family: var(--font-antonio);

  /* Preset 5 */
  --text-preset-5: 1.5rem; /* 24px */
  --text-preset-5--line-height: normal;
  --text-preset-5--font-weight: 500; /* Medium */
  --text-preset-5--letter-spacing: -0.9px;
  --text-preset-5--font-family: var(--font-antonio);

  /* Preset 6 */
  --text-preset-6: 1.25rem; /* 20px */
  --text-preset-6--line-height: 1.25; /* 25px / 20px ≈ 1.25 */
  --text-preset-6--font-weight: 700; /* Bold */
  --text-preset-6--letter-spacing: 1.36px;
  --text-preset-6--font-family: var(--font-spartan);

  /* Preset 7 */
  --text-preset-7: 0.938rem; /* 15px */
  --text-preset-7--line-height: 1.786; /* 25px / 14px ≈ 1.786 */
  --text-preset-7--font-weight: 400; /* Regular */
  --text-preset-7--letter-spacing: normal;
  --text-preset-7--font-family: var(--font-spartan);

  /* Preset 8 */
  --text-preset-8: 0.875rem; /* 14px */
  --text-preset-8--line-height: 1.786; /* 25px / 14px ≈ 1.786 */
  --text-preset-8--font-weight: 400; /* Regular */
  --text-preset-8--letter-spacing: normal;
  --text-preset-8--font-family: var(--font-spartan);

  /* Preset 9 */
  --text-preset-9: 0.75rem; /* 12px */
  --text-preset-9--line-height: 2.083; /* 25px / 12px ≈ 2.083 */
  --text-preset-9--font-weight: 700; /* Bold */
  --text-preset-9--letter-spacing: 2.6px;
  --text-preset-9--font-family: var(--font-spartan);

  /* Preset 10 */
  --text-preset-10: 0.6875rem; /* 11px */
  --text-preset-10--line-height: 2.273; /* 25px / 11px ≈ 2.273 */
  --text-preset-10--font-weight: 700; /* Bold */
  --text-preset-10--letter-spacing: 1px;
  --text-preset-10--font-family: var(--font-spartan);

  /* Preset 11 */
  --text-preset-11: 0.563rem; /* 9px */
  --text-preset-11--line-height: normal;
  --text-preset-11--font-weight: 700; /* Bold */
  --text-preset-11--letter-spacing: 1.93px;
  --text-preset-11--font-family: var(--font-spartan);

  /* Preset 12 */
  --text-preset-12: 0.5rem; /* 8px */
  --text-preset-12--line-height: 2; /* 16px / 8px ≈ 2 */
  --text-preset-12--font-weight: 700; /* Bold */
  --text-preset-12--letter-spacing: 0.73px;
  --text-preset-12--font-family: var(--font-spartan);

  /* COLORS */
  --color-white: oklch(100% 0 0);
  --color-dark-blue: oklch(14% 0.025 264);
  --color-dark-grey: oklch(25% 0.012 264);
  --color-light-grey: oklch(56% 0.008 264);

  --color-teal: oklch(68% 0.085 205);
  --color-yellow: oklch(77% 0.12 65);
  --color-purple: oklch(52% 0.22 293);
  --color-red: oklch(61% 0.19 25);

  --color-light-red: oklch(64% 0.16 18);
  --color-orange: oklch(65% 0.15 45);
  --color-cyan: oklch(73% 0.11 181);
  --color-blue: oklch(63% 0.18 250);
}

@utility text-preset-1 {
  font-family: var(--text-preset-1--font-family);
  font-size: var(--text-preset-1);
  line-height: var(--text-preset-1--line-height);
  font-weight: var(--text-preset-1--font-weight);
  letter-spacing: var(--text-preset-1--letter-spacing);
}

@utility text-preset-2 {
  font-family: var(--text-preset-2--font-family);
  font-size: var(--text-preset-2);
  line-height: var(--text-preset-2--line-height);
  font-weight: var(--text-preset-2--font-weight);
  letter-spacing: var(--text-preset-2--letter-spacing);
}

@utility text-preset-3 {
  font-family: var(--text-preset-3--font-family);
  font-size: var(--text-preset-3);
  line-height: var(--text-preset-3--line-height);
  font-weight: var(--text-preset-3--font-weight);
  letter-spacing: var(--text-preset-3--letter-spacing);
}

@utility text-preset-4 {
  font-family: var(--text-preset-4--font-family);
  font-size: var(--text-preset-4);
  line-height: var(--text-preset-4--line-height);
  font-weight: var(--text-preset-4--font-weight);
  letter-spacing: var(--text-preset-4--letter-spacing);
}

@utility text-preset-5 {
  font-family: var(--text-preset-5--font-family);
  font-size: var(--text-preset-5);
  line-height: var(--text-preset-5--line-height);
  font-weight: var(--text-preset-5--font-weight);
  letter-spacing: var(--text-preset-5--letter-spacing);
}

@utility text-preset-6 {
  font-family: var(--text-preset-6--font-family);
  font-size: var(--text-preset-6);
  line-height: var(--text-preset-6--line-height);
  font-weight: var(--text-preset-6--font-weight);
  letter-spacing: var(--text-preset-6--letter-spacing);
}

@utility text-preset-7 {
  font-family: var(--text-preset-7--font-family);
  font-size: var(--text-preset-7);
  line-height: var(--text-preset-7--line-height);
  font-weight: var(--text-preset-7--font-weight);
  letter-spacing: var(--text-preset-7--letter-spacing);
}

@utility text-preset-8 {
  font-family: var(--text-preset-8--font-family);
  font-size: var(--text-preset-8);
  line-height: var(--text-preset-8--line-height);
  font-weight: var(--text-preset-8--font-weight);
  letter-spacing: var(--text-preset-8--letter-spacing);
}

@utility text-preset-9 {
  font-family: var(--text-preset-9--font-family);
  font-size: var(--text-preset-9);
  line-height: var(--text-preset-9--line-height);
  font-weight: var(--text-preset-9--font-weight);
  letter-spacing: var(--text-preset-9--letter-spacing);
}

@utility text-preset-10 {
  font-family: var(--text-preset-10--font-family);
  font-size: var(--text-preset-10);
  line-height: var(--text-preset-10--line-height);
  font-weight: var(--text-preset-10--font-weight);
  letter-spacing: var(--text-preset-10--letter-spacing);
}

@utility text-preset-11 {
  font-family: var(--text-preset-11--font-family);
  font-size: var(--text-preset-11);
  line-height: var(--text-preset-11--line-height);
  font-weight: var(--text-preset-11--font-weight);
  letter-spacing: var(--text-preset-11--letter-spacing);
}

@utility text-preset-12 {
  font-family: var(--text-preset-12--font-family);
  font-size: var(--text-preset-12);
  line-height: var(--text-preset-12--line-height);
  font-weight: var(--text-preset-12--font-weight);
  letter-spacing: var(--text-preset-12--letter-spacing);
}
